html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#create-btn {
    margin-top: 1em; 
    margin-bottom:1em;
}

#note-date {
    font-size:80%;
}

#note-small {
    min-width: 100%;
    min-height: 100px;
    text-align: start;
}

#td-title {
    width:25%;
}

#td-context {
    width:50%;
}

#td-active {
    width:10%;
}

#td-actions {
    width:15%;
}

#action-buttons {
    margin:3px;
}

#action-buttons:hover {
    color:white;
}