@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
  font-size: 14px;
}


body {
    font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.create-btn {
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

.create-note-div {
    max-width: 400px;
}

.back-to-list-btn {
    margin-left: 1em;
    font-weight:bold;
}

.back-to-list-btn:hover {
    color: white;
}

.note-title-header {
    font-weight: 500;
}

.note-title-input {
    width: 400px;
    font-weight: 600;
    background-color: lightgrey;
}

.note-content-header {
    font-weight: 500;
    margin-top: 1em;
}

.note-active-header {
    font-weight: 500;
    margin-top: 1em;
}

.note-date {
    font-size: 80%;
    color:lightgray;
}

.note-small {
    min-width: 100%;
    min-height: 200px;
    text-align: start;
    background-color: lightgrey;
}

.note-large {
    width: 400px;
    height: 300px;
    text-align: start;
    font-weight: 600;
    background-color: lightgrey;
}

.td-title {
    width:25%;
}

.td-context {
    width:50%;
}

.td-active {
    width:10%;
}

.td-actions {
    width:15%;
}

.action-buttons {
    margin: 3px;
    font-weight: 600;
}

.action-buttons:hover {
    color:white;
}

/* ----- LINK ANIMATION ----- */
a.underlined-link {
    position: relative;
    color: rgb(206, 206, 206);
    text-decoration: none;
}

a.underlined-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: azure;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

a.underlined-link:hover::before {
    transform: scaleX(1);
}