@model JournalWebApp.Models.NotesModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create a note</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label note-title-header"></label>
                <input asp-for="Title" class="form-control note-title-input" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label note-content-header"></label>
                <textarea asp-for="Content" class="form-control note-large"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label note-active-header">
                    <label>Is active?</label>
                    <input class="form-check-input" asp-for="IsActive" />
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary create-btn"/>
                <a asp-action="Index" class="btn btn-warning back-to-list-btn">Back to List</a>
            </div>
        </form>
    </div>
</div>

