@model NotesModel

@{
    ViewData["Title"] = "NotesDetails";
}

<div>
    <h2>@Html.DisplayNameFor(note => note.Title)</h2>
    <hr />
    <p style="font-size:80%">@Html.DisplayFor(note => note.CreationDate)</p>
    <p>Is Active? @Html.DisplayFor(note => note.IsActive)</p>
    <textarea style="min-width: 400px; min-height:400px;">
        @Html.DisplayFor(note => note.Content)
    </textarea>

</div>