@model NotesModel

@{
    ViewData["Title"] = "Details";
}

<div style="justify-content:space-between;">
    <h2>@Html.DisplayNameFor(note => note.Title)</h2>
    <hr />
    <p style="font-size:80%">@Html.DisplayFor(note => note.CreationDate)</p>
    <p>Is Active? @Html.DisplayFor(note => note.IsActive)</p>
    <textarea class="note-large">@Html.DisplayFor(note => note.Content)</textarea>

</div>